.container-reg {
    margin: 50px;
    padding: 100px;
    border-radius: 10vh;
    background-color: rgb(247, 135, 83);

    &__register {
        font-size: 35px;
    }
    &__option {
        font-size: 35px;
    }
}

.button-login {
    border: none;
    width: 150px;
    margin: 10px;
    padding: 15px;
    border-radius: 10vh;
    font-size: 20px;
    font-weight: 500;
}

.form-container {
    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        &--sala,
        &--cocina {
            font-size: 25px;
        }
    }
    &__select {
        padding: 10px;
    }
}
