.container-reg {
    margin: 50px;
    padding: 100px;
    border-radius: 10vh;
    background-color: rgb(252, 159, 19);

    &__register {
        font-size: 35px;
    }
    &__option {
        font-size: 35px;
    }
}

.button-login {
    background-color: rgba(235, 120, 70, 1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    width: 150px;
    margin: 10px;
    padding: 15px;
    border-radius: 10vh;
    font-size: 20px;
    font-weight: 500;
}

.form-container {
    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        &--sala,
        &--cocina {
            font-size: 25px;
        }
    }
    &__select {
        padding: 10px;
    }
}
