.closeTicket {
    padding-top: 50px;
    background-color: rgb(29, 28, 28);
    width: 100vw;
    height: 89vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__form {
        color: white;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__confirm,
    &__esc {
        margin: 60px;
        padding: 30px;
        background-color: rgb(3, 160, 3);
        border-radius: 25px;
        border: none;
        font-weight: bold;
        font-size: 1.5rem;
    }
    &__esc {
        background-color: red;
    }
    &__label {
        display: flex;
        margin: 1px;
        font-weight: 700;
        font-size: 30px;
        padding: 20px;
        text-align: end;
        align-items: center;
    }
    &__change {
        margin: 20px;
        font-size: 60px;
        padding: 6px 20px;
        background: white;
        color: black;
    }
}
.close-container {
    width: 100%;
}
.input {
    margin-left: 20px;
}
